<html>
</link rel= "stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" >
    <body>
        <table>
            <tr>
            <td style="width:30px;text-align:center;"><B>번호</B></td>
            <td style="width:300px;text-align:center;"><B>제목</B></td>
            <td style="width:150px;text-align:center"><B>작성자</B></td>

            </tr>
        {% for final in finals %}
        <tr>
            <!--<td style="text-align:center">{{final.index}}</td>-->
            <td style="text-align:center;">{{final.index}}</td>
            <td style="text-align:center;"><a href="/view?id={{final.index}}">{{final.title}}</a></td>
            <td style="text-align:center;">{{final.writer}}</td>
        </tr>
        {% endfor %}
        </table>
        <form action="{{ url_for('insert_form') }}" style="display: inline;">
            <input type="submit" name="" value="쓰기">
        </form>
        
    </body>
</html>