
<html>
<head>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
    <body>
        <table id="table">
            <tr>
                <td style="width:30px;text-align:center;"><B>번호</B></td>
                <td style="width:300px;text-align:center;"><B>제목</B></td>
                <td style="width:150px;text-align:center"><B>작성자</B></td>
            </tr>
        </table>
        <form action="/insert" style="display: inline;">
            <input type="submit" name="" value="쓰기">
        </form>


        <script>
        $(document).ready(function (){
            $.ajax({
                url: '/get_list',
                success: function (data){
                    var array = data.array;
                    // for (i in array){
                    //     console.log("title : "+array[i][0]+" / content : "+array[i][1]+" / writer : "+array[i][2])
                    //     $('#title').append(array[i][0]);
                    //     $('#writer').append(array[i][2]);
                    // }
                    $.each(array, function(index, item){
                        console.log(index+" "+item)
                        var output = '';
                        output += '<tr>'
                        output += '<td style="text-align:center;">'+ (index+1) +'</td>'
                        output += '<td style="text-align:center;"><a id = "title" href="'+'/view?id='+index+'">'+ item[0] +'</a></td>'
                        output += '<td id = "writer" style="text-align:center;">'+ item[2] +'</td>'
                        output += '</tr>'
                        document.getElementById('table').innerHTML += output;
                    });
                }
            });
        });
        </script>
    </body>
</html>