<!DOCTYPE html>
<html>
<head>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	<title></title>
</head>
<body>
<form>
	제목<input type="text" name="update_title" id="update_title"><br>
	내용<textarea name="update_content" id = "update_content"></textarea><br>
	<input type="submit" value="쓰기" id ="submit">
</form>
<script>
$(document).ready(function(){
	var get_data = window.location.search
	var index = get_data.slice(4,get_data.length)
	$('#submit').click(function(){
		$.ajax({
			url : '/action?id='+index,
			data : {
				title : $('#update_title').val(),
				content : $('#update_content').val()
			},
			success : function(){
				location.href = "/";
			}
		})		
	})
})
</script>
</body>
</html>