<!DOCTYPE html>
<html>
<head>
	<title>상세보기 페이지</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<table>
	<tr>
		<td>제목</td>
		<td>글쓴이</td>
	</tr>
	<tr>
		<td id = "title"></td>
		<td id = "writer"></td>
	</tr>
	<tr>
		<td>게시글</td>
	</tr>
	<tr>
		<td id = "content"></td>
	</tr>
</table>
<form id = "delete" style="display: inline;">
    <input type="submit" value="삭제하기">
</form>
<form id = "update" style="display: inline;">
    <input type="submit" value="수정하기">
</form>
<br><br>
<form action="{{url_for('index')}}">
	<input type="submit" value="되돌아가기">
</form>

<br>


   <label for = "title">title</label><br>
   <input type = "text" name = "comment_title" placeholder = "title" id = "comment_title" /><br>
   <label for = "content">content</label><br>
   <textarea name = "comment_content" placeholder = "content" id ="comment_content"></textarea><br>
   <input type = "submit"  id="comment" value = "댓글쓰기" />
<br>
<table style="font-size:10px" id = "show_comment">
	<tr>
		<td>제목</td>
		<td>내용</td>
	</tr>

</table>



<script>
$(document).ready(function(){
	$.ajax({
		url : '/view_list',
		success : function(data){
			var array = data.array;
			var get_data = window.location.search
			var index = get_data.slice(4,get_data.length)
			var detail = array[index]

			var comment = data.comment_Array[index]
			
			document.getElementById('title').innerHTML += detail[0];
			document.getElementById('writer').innerHTML += detail[2];
			document.getElementById('content').innerHTML += detail[1];
			
			console.log(comment)


			$('#delete').click(function(){
				$.ajax({
					url :'/delete'+'?id='+index,
					success : function(data){
						location.href = '/';
					}
				});
			});
			$('#update').click(function(){
				$.ajax({
					url :'/update',
					success : function(data){
						location.href = '/update'+'?id='+index;
					}
				});
			})
			$('#comment').click(function(){
				$.ajax({
					url : '/comment'+'?id='+index,
					data : {
						title : $('#comment_title').val(),
						content : $('#comment_content').val()
					}
				});
			});

            $.each(comment, function(index, item){
                var output = '';
                output += '<tr>'
                output += '<td style="text-align:center;">'+ item[0] +'</td>'
                output += '<td style="text-align:center;">'+ item[1] +'</td>'
                output += '</tr>'
                document.getElementById('show_comment').innerHTML += output;
            });

		}

	});
});	
</script>
<!-- <script>
	$(document).ready(function(){
		$('#comment').click(function(){
			$.ajax({
				data : {
					title : $('#comment_title').val(),
					content : $('#comment_content').val()
				},

				type : "POST",
				url : '/comment',
				success : function(data){
					console.log(data.title);
				}
			});
		});
	})
</script> -->
</body>
</html>